/node_modules
/public/storage
/public/reportico
/storage/*.key
/storage/tmp/**
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/.history/**
/.vscode
composer.lock
package-lock.json
pre-deploy-compress\.js

public/js/absence_type\.js

public/js/absence_type\.min\.js

public/js/app2\.js

public/js/app2\.min\.js

public/js/calendar\.js

public/js/calendar\.js\.map

public/js/calendar\.min\.js

public/js/absence_type\.js\.map

public/js/employees\.js

public/js/employees\.js\.map

public/js/leaves\.js

public/js/leaves\.js\.map

public/js/new-employee\.js

public/js/new-employee\.js\.map

public/js/parsley\.js

public/js/parsley\.js\.map

public/js/recruitment\.js

public/js/recruitment\.js\.map

public/js/tables\.js

public/js/tables\.min\.js

public/js/tinymce\.js

public/js/tinymce\.min\.js

public/js/uploader\.js

public/js/uploader\.min\.js

public/js/uploader\.js\.map

public/js/app2\.js\.map

public/js/candidates\.js\.map

public/js/recruitment\.min\.js
