body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #F8F8F8;
}

body > header {
  min-height: 55px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  background: #FFF;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5px;
}

body > header a {
  margin: 20px;
}

.grid {
  display: grid;
  gap: 25px 25px 0px 25px;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 4fr));
}

.card {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  background: #FFF;
  margin: 15px;
  padding: 15px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.card header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  place-content: space-between;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  min-height: unset;
  margin-left: 0;
}

.card header h4 {
  margin: 0 0 1rem 0.2rem;
  font-size: calc(2.1rem - 1vw);
  max-width: 80%;
}

.card header time {
  color: #777;
  font-style: italic;
  font-size: 80%;
}

.card section p.text {
  color: #777;
  margin: 0 15px;
  cursor: pointer;
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.5em;
  /* max-height = line-height (1.2) * lines max number (4) */
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  padding-right: 1em;
  -webkit-transition: height 1s;
  transition: height 1s;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card section p svg {
  vertical-align: middle;
}

.card footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card footer .button {
  display: inline-block;
  margin: 0;
  padding: 0.65rem 1.3rem;
  border: none;
  border-radius: 0.1625rem;
  outline: none;
  background-color: tomato;
  color: white;
  font-family: inherit;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.3rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.card footer .button:focus,
.card footer .button:hover {
  background-color: #ff7359;
  -webkit-box-shadow: 0 0 0 0.1625rem white, 0 0 0 0.325rem #ff7359;
          box-shadow: 0 0 0 0.1625rem white, 0 0 0 0.325rem #ff7359;
}

.card footer .button:active {
  background-color: shade(tomato, 5%);
  -webkit-box-shadow: 0 0 0 0.1625rem shade(tomato, 5%), 0 0 0 0.325rem shade(tomato, 5%);
          box-shadow: 0 0 0 0.1625rem shade(tomato, 5%), 0 0 0 0.325rem shade(tomato, 5%);
  -webkit-transition-duration: 75ms;
          transition-duration: 75ms;
}

.footer {
  padding: 10px 0;
  border-top: 1px solid #CAD0D6;
  line-height: 20px;
  text-align: center;
  font-size: 80%;
}


/*# sourceMappingURL=public-vacancies.css.map*/