.btn-apply{
    position: absolute;
    margin-top: 8%;
    width: 100px;
    left: 50%;
    margin-left: -50px;

}

.leave-label{
    margin-top: 8%;
    text-align: center;
    cursor: pointer;
}

.chart-container{
    position: relative;

}

.pending-request{
    padding: 5px;
}

.employee-filter label{
    margin-bottom: 0 !important;
}

.employee-filter{
    top: 7px;
    min-width: 295px;
}

.btn-filter{
    top: 15px;
    position: relative;
    width: 100px;
    margin-right: 3%;
}

.field-reset{
    margin-right: 10%;
}

span.badge-status {
    text-align: center;
    width: 105px;
    padding: 5px;
}

#bundle_submit{
    top: 23px;
    right:5px;
    position: relative;
}

.btn-cancel{
    color: #fff;
    background-color: grey;
    border-color: grey;
}

.btn-cancel:hover{
    background-color: white;
    border-color: grey;
}

.space-margin{
    padding-right:3% !important;
}

.badge-notification{
    min-width: 405px;
}

.section-leaves .nav-tabs > li.active > a,.section-leaves  .nav-tabs > li.active > a:hover,.section-leaves  .nav-tabs > li.active > a:focus {
    background-color: #FFFFFF !important;
}

.dashboard_wid_box h4 {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}

.dashboard_wid_box {
    float: left;
    background: #ccc;
    padding: 20px;
    width: 230px;
    height: 200px;
    margin-right: 20px;
    position: relative;
    margin-bottom: 20px;
}

.dashboard_wid_box.emp_total h4 .box_count_tol {
    line-height: 35px;
    width: 100%;
}

.dashboard_wid_box h4 .box_count_tol {
    font-size: 32px;
    float: left;
    line-height: 20px;
    padding-right: 7px;
}

.cls_redirect {
    color: #333;
}

box_link {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    text-decoration: none;
    padding: 2px 9px;
    font-size: 13px;
}

.dashboard_wid_box.emp_total .dashboard_wid_box_inner {
    float: left;
    margin-right: 18px;
    margin-top: 13px;
    width: 80px;
    height: auto;
    text-align: center;
}

.dashboard_wid_box.emp_total .dashboard_wid_box_inner.last-child {
    margin-right: 0;
}

.dashboard_wid_box_inner {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #FFFFFF;
    opacity: 0.5;
    filter: alpha(opacity=50);
    display: inline-block;
    margin-right: 2px;
    width: 86px;
    height: 50px;
    margin-top: 49px;
    font-size: 14px;
    padding-top: 7px;
}
.dashboard_wid_box_inner .box_count {
    font-size: 20px;
    display: block;
}