  .steps li {
    float: left;
    margin-left: 0;
    list-style-type: none;
    padding: 5px 0px 5px 0px; /* padding around text, last should include arrow width */
    position: relative;
  }
  
  .steps {
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    border: 1px solid #ddd;

    .tab-item {
      display: flex;
      align-items: center;
      height: 100%;
      flex: 1 0 16%;
      border-top: 2px solid #d68a3a;
      border-bottom: 1px solid #ddd;

      &.orange {
        border-top: 2px solid #d68a3a;

        .tab-link {
          text-decoration: none;
          display:flex;
          flex-direction: column;
          align-content: center;

          > *{
            color:inherit;
            margin:0;
          }

          &.active{
            background-color: #d68a3a;
            &.show{
              display: inherit !important;
            }
            & +.arrow {
              background-color: #d68a3a;
            }
          }
        }
      }

      &.blue {
        border-top: 2px solid #3097D1;
        .tab-link {
          &.active{
            background-color: #3097D1;
            & +.arrow {
              background-color: #3097D1;
            }
          }
        }
      }

      &.green {
        border-top: 2px solid green;
        .tab-link {
          &.active{
            background-color: green;
            & +.arrow {
              background-color: green;
            }
          }
        }
      }

      .tab-link {
        text-decoration: none;
        flex: 1;
        padding-left: 16px;
        text-align: center;
        display:flex;
        flex-direction: column;
        align-content: center;
        margin:0;

        :hover {color: #3097D1; background-color: initial; }

        * {
          color:inherit;
          margin: 0;
        }
        
      }

      .arrow {
        border: solid #ddd;
        display: inline-block;
        padding: 10px;
        border-width: 0 1px 1px 0;
        transform: translateY(-15px) rotate(-45deg) skew(-15deg, -15deg) translateX(-20px);
        background-color: transparent;
      }

      &.active {
        background-color: #d68a3a;
        .bx-pager-link {
          color: white;
        }
        .arrow {
          background-color: #d68a3a;
        }
      }

    }
  }

  .people-list {
    background-color:#FFF;
    display: flex;
    flex-direction:column;
    align-content: center;
    width: 30%;

    li {
      list-style-type: none;
      align-items:stretch;
      border-radius: 6px;
      box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);
      padding: 10px 15px;
      width:90%;
      margin: 10px 0;
    }
  }

  #recruitment{
    .tab-content{
      margin-top: 15px;
      background-color: #f8f8f8;
      width:100%;
    }

    .tab-detail{
      width: 70%;
    }
  }