  .steps li {
    float: left;
    margin-left: 0;
    padding: 0px; /* padding around text, last should include arrow width */
    position: relative;
  }
  
  .steps {
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    border: 1px solid #ddd;

    .nav-item {
      display: flex;
      align-items: center;
      height: 100%;
      flex: 1 0 16%;
      border-top: 2px solid #d68a3a;
      border-bottom: 1px solid #ddd;

      &.orange {
        border-top: 2px solid #d68a3a;
        .nav-link {
          &.active{
            background-color: #d68a3a;
            &.show{
              display: inherit !important;
            }
            & +.arrow {
              background-color: #d68a3a;
            }
          }
        }
      }

      &.blue {
        border-top: 2px solid #3097D1;
        .nav-link {
          &.active{
            background-color: #3097D1;
            &.show{
              display: inherit !important;
            }
            & +.arrow {
              background-color: #3097D1;
            }
          }
        }
      }

      &.green {
        border-top: 2px solid green;
        .nav-link {
          &.active{
            background-color: green;
            &.show{
              display: inherit !important;
            }
            & +.arrow {
              background-color: green;
            }
          }
        }
      }

      .nav-link {
        text-decoration: none;
        display:flex;
        flex-direction: column;
        align-content: center;
        flex: 1;
        padding-left: 16px;
        margin:0;

        * {
          color:inherit;
          margin: 0;
        }

      }

      .arrow {
        border: solid #ddd;
        display: inline-block;
        padding: 10px;
        border-width: 0 1px 1px 0;
        transform: translateY(-15px) rotate(-45deg) skew(-15deg, -15deg) translateX(-20px);
        background-color: transparent;
      }

      &.active {
        background-color: #d68a3a;
        .bx-pager-link {
          color: white;
        }
        .arrow {
          background-color: #d68a3a;
        }
      }

    }
  }

  .people-list {
    background-color:#F8F8F8;
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 20%;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
    padding-left: 0;

    li {
      align-items:stretch;
      border-radius: 6px;
      box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
      padding: 10px 15px;
      width: 90%;
      margin: 10px 0;
      background-color: #fff;
      cursor: pointer;

      &.active{
        box-shadow: 0 0 3px 0 rgba(255,0,0,0.5);
      }

    }
  }

  #recruitment{
    ul {
      list-style-type: none;
    }

    .tab-content{
      margin-top: 15px;
      background-color: #f8f8f8;
      width:100%;
    }

    .tab-detail{
      width: 80%;
      margin-left:15px;
    }

    .tab-pane{
      &.show{
        display:flex !important;
      }
    }

    .tabbable {
      .nav{
        border-bottom: 1px solid #ddd;

        li{
          display:inline-block !important;
  
          a.active {
            &.show, &.active>a:focus, &.active>a:hover{
              border-top: none;
              border-left: none;
              border-right: none;
              border-bottom: 3px solid #e9a39c !important;
              font-weight: bold;
              display: inline-block !important;
            }
          }
  
          a:hover {
            border: 1px solid transparent;
          }
        }

      }

    }

  }