$animation-speed: 150ms;

$button-bg-color: tomato;
$button-text-color: white;
$button-text-size: 1.1em;
$button-spacing: 1.3rem;

@function tint(
  $color,
  $percent
) {
  @if not _is-color($color) {
    @error "`#{$color}` is not a valid color for the `$color` argument in " +
           "the `tint` mixin.";
  } @else {
    @return mix(#fff, $color, $percent);
  }
}

body, html{
    height: 100%;
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color:#F8F8F8;

    > header{
        min-height: 55px;
        box-shadow: 0 0 2px rgba(0,0,0,0.3);
        background: #FFF;
        z-index:1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 5px;

        & a{
            margin: 20px;
        }
    }
}

.grid{
    display: grid;
    gap: 25px 25px 0px 25px;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 4fr));
}

.card{
    transition: transform 1s;
    background: #FFF;
    margin: 15px;
    padding: 15px;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);

    & header{
        display: flex;
        flex-flow: wrap;
        place-content: space-between;
        box-shadow: unset;
        min-height: unset;
        margin-left: 0;

        & h4{
            margin: 0 0 1rem 0.2rem;
            font-size: calc(2.1rem - 1vw);
            max-width: 80%;
        }

        & time{
            color: #777;
            font-style: italic;
            font-size: 80%;
        }

    }

    & section{

        & p.text{
            color:#777;
            margin: 0 15px;
            cursor: pointer;
            /* hide text if it more than N lines  */
            overflow: hidden;
            /* for set '...' in absolute position */
            position: relative; 
            /* use this value to count block height */
            line-height: 1.5em;
            /* max-height = line-height (1.2) * lines max number (4) */
            //max-height: 6em; 
            /* fix problem when last visible word doesn't adjoin right side  */
            text-align: justify;  
            /* place for '...' */
            padding-right: 1em;
            transition: height 1s;
            text-overflow: ellipsis;
            white-space: nowrap;

        }

        & p{
            & svg{
                vertical-align: middle;
            }
        }
    }

    & footer{
        display: flex;
        justify-content: flex-end;

        .button{
            display: inline-block;
            margin: 0;
            padding: ($button-spacing / 2) $button-spacing;
            border: none;
            border-radius: $button-spacing / 8;
            outline: none;
            background-color: $button-bg-color;
            color: $button-text-color;
            font-family: inherit;
            font-size: $button-text-size;
            font-weight: 400;
            line-height: $button-spacing;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            transition: all $animation-speed ease-out;
        
            &:focus, &:hover {
                background-color: tint($button-bg-color, 10%);
                box-shadow: 0 0 0 ($button-spacing / 8) $button-text-color, 0 0 0 ($button-spacing / 4) tint($button-bg-color, 10%);
            }

            &:active{
                background-color: shade($button-bg-color, 5%);
                box-shadow: 0 0 0 ($button-spacing / 8) shade($button-bg-color, 5%), 0 0 0 ($button-spacing / 4) shade($button-bg-color, 5%);
                transition-duration: $animation-speed / 2;
            }

        }

    }
}

.footer{
    padding: 10px 0;
    border-top: 1px solid #CAD0D6;
    line-height: 20px;
    text-align: center;
    font-size: 80%;
}